  .user-ment {
		margin-bottom: 1rem;
	}
	.user-mb-3,
	.user-my-3 {
		margin-bottom: 1rem!important;
	}
	/* 警告框样式 */
	.user-alert-warning {
		color: #856404;
		background-color: #fff3cd;
		border-color: #ffeeba;
	}
	.user-alert-danger{
		color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
	}
	.user-alert {
		position: relative;
		padding: .75rem 1.25rem;
		margin-bottom: 1rem;
		border: 1px solid transparent;
		border-radius: .25rem;
	}
	/* 按钮组样式	 */
	.user-btn-link {
		line-height: 17px;
	}
	.user-input-group-prepend {
		margin-right: -1px;
	}
	.user-input-group-text {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		padding: .375rem .75rem;
		margin-bottom: 0;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		text-align: center;
		white-space: nowrap;
		background-color: #e9ecef;
		border: 1px solid #ced4da;
		border-radius: .25rem;
	}
	.user-input-group-append,
	.user-input-group-prepend {
		display: -ms-flexbox;
		display: flex;
	}


	.user-input-group {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-align: stretch;
		align-items: stretch;
		width: 100%;
	}
	.user-input-group > .user-form-control:not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.user-input-group > .user-form-control:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.user-input-group > .user-form-control,
	.user-input-group > .user-form-control-plaintext {
		position: relative;
		-ms-flex: 1 1 0%;
		flex: 1 1 0%;
		min-width: 0;
		margin-bottom: 0;
	}
	/* "复制"按钮样式 */
	.user-form-control {
		display: block;
		width: 100%;
		height: calc(1.5em + .75rem + 2px);
		padding: .375rem .75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}
	/* 卡片主题样式 */
	.user-card-body {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		min-height: 1px;
		padding: 1.25rem;
	}
	/* 卡片样式	 */
	.user-card {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0, 0, 0, .125);
		border-radius: .25rem;
		margin-top: 0.25rem;
	}